.footer {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  background: #fff;
  color: #5A5A89;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-style: normal;
  bottom: -60px;
  margin-top: 55px;
}

.footer > p:first-child {
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1.5px;
}

.footer > p:last-child {
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1.5px;
}