* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Archivo;
}

body {
  background: #EEF0FA;
}

*::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}
*::-webkit-scrollbar-thumb {
  background-color: #8676FF;
  border-radius: 10px;
}


